#start-page {
  display: flex;
  align-items: center;
  height: 100vh;
  
  a {
    text-decoration: none;
    color: #29292e;
  }
  .header {
    border-bottom: 1px solid #29292e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    
    .logo {
      display: flex-start;

      a {
        font: 28px "Roboto", sans-serif;
        color: black;

        .logo2 {
          color: red;
        }
      }

      p {
        font-size: 20px;
        margin-left: 15px;
      }
    }
    .search-container {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      input {
        width: 30vw;
        height: 5vh;
        margin-right: 8px;
      }
      button {
        width: 5vw;
      }
    }
    .search-menu {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 16px 16px 16px 0px;
    }

    .auth-area {
      display: flex-start;
      
      .auth {
        display: flex;
        align-items: right;
        justify-content: right;
        margin-bottom: 50px;
      }
      .menu a {
        margin-right: 25px;
      }
      .menu a:last-child {
        margin-right: 0;
      }
    }
  }
}